n8n-workflow2.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload RFP with Images",
        "formDescription": "Upload an Excel (.xlsx) RFP file with embedded product images. Images will be analyzed using AI Vision to match products from our database.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "RFP File",
              "fieldType": "file",
              "requiredField": true,
              "acceptFileTypes": ".xlsx,.xls"
            },
            {
              "fieldLabel": "Client Name",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Enter client name"
            },
            {
              "fieldLabel": "Confidence Threshold",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "0.55 - Balanced (Recommended)" },
                  { "option": "0.65 - Moderate" },
                  { "option": "0.75 - Strict (fewer matches)" },
                  { "option": "0.4 - Broad (more matches, lower accuracy)" }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "img-form-0001",
      "name": "Upload RFP with Images",
      "type": "n8n-nodes-base.formTrigger",
      "position": [-752, 48],
      "typeVersion": 2.2,
      "webhookId": "rfp-image-upload"
    },
    {
      "parameters": {
        "jsCode": "// Extract binary file data and form fields\nconst formData = $input.first().json;\nconst clientName = formData['Client Name'] || 'Client';\nconst thresholdOption = formData['Confidence Threshold'] || '0.4 - Broad (Recommended)';\nconst threshold = thresholdOption.split(' - ')[0] || '0.4';\n\n// Get the uploaded file binary key\nconst binaryKey = Object.keys($input.first().binary || {})[0];\nif (!binaryKey) {\n  throw new Error('No file uploaded. Please upload an Excel file.');\n}\nconst binaryMeta = $input.first().binary[binaryKey];\n\n// Use n8n helper to get actual binary buffer (works with filesystem storage mode)\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\nconst fileBase64 = buffer.toString('base64');\n\nif (fileBase64.length < 100) {\n  throw new Error('File data too small (' + fileBase64.length + ' chars). Upload may have failed.');\n}\n\nreturn [{\n  json: {\n    fileBase64: fileBase64,\n    fileName: binaryMeta.fileName || 'upload.xlsx',\n    threshold: threshold,\n    limit: 3,\n    client_name: clientName\n  }\n}];"
      },
      "id": "img-prep-0002",
      "name": "Prepare Image RFP Data",
      "type": "n8n-nodes-base.code",
      "position": [-496, 48],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/rfp/process-images-base64",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fileBase64: $json.fileBase64, fileName: $json.fileName, threshold: $json.threshold, limit: $json.limit }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "img-api-0003",
      "name": "Process Images API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-256, 48],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "// Extract results from API response and split into individual items\nconst response = $input.first().json;\nconst results = response.results || [];\nconst clientName = $('Prepare Image RFP Data').first().json.client_name || 'Client';\nconst summary = response.summary || {};\nconst meta = response.meta || {};\n\nconst items = results.map(r => ({\n  json: {\n    rfp_line: r.rfp_line,\n    query: r.query,\n    description: r.description || '',\n    image_description: r.image_description || '',\n    match_source: r.match_source || 'text',\n    quantity: r.quantity,\n    location: r.location || '',\n    notes: r.notes || '',\n    matched: r.matched,\n    confidence: r.confidence,\n    matched_on: r.matchedOn || '',\n    product_name: r.product ? r.product.name : 'No match found',\n    brand: r.product ? r.product.brand : '',\n    product_description: r.product ? (r.product.description || '') : '',\n    dimensions: r.product ? (r.product.dimensions || '') : '',\n    materials: r.product ? (r.product.materials || '') : '',\n    designer: r.product ? (r.product.designer || '') : '',\n    category: r.product ? (r.product.category || '') : '',\n    weight: r.product ? (r.product.weight || '') : '',\n    pdf_url: r.product ? (r.product.pdf_url || '') : '',\n    image_url: r.product ? (r.product.image_url || '') : '',\n    rfp_image_url: r.rfp_image_url || '',\n    source_url: r.product ? (r.product.source_url || '') : '',\n    variants_count: r.product ? (r.product.variants || []).length : 0,\n    alternatives: r.alternatives || [],\n    client_name: clientName,\n    total_items: summary.total || results.length,\n    total_matched: summary.matched || 0,\n    total_review: summary.needsReview || 0,\n    images_extracted: meta.imagesExtracted || 0,\n    matched_by_image: summary.matchedByImage || 0,\n    matched_by_text: summary.matchedByText || 0\n  }\n}));\n\nreturn items;"
      },
      "id": "img-split-0004",
      "name": "Split & Format Image Results",
      "type": "n8n-nodes-base.code",
      "position": [0, 48],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "img-gate-0005",
      "name": "Confidence Gate",
      "type": "n8n-nodes-base.if",
      "position": [256, 48],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "jsCode": "// Collect all matched items and format a Telegram approval message\nconst items = $input.all();\nconst clientName = items[0]?.json?.client_name || 'Client';\n\n// Construct the Wait node resume URLs FIRST\nlet baseUrl = '';\ntry { baseUrl = $env.WEBHOOK_URL || ''; } catch(e) { baseUrl = ''; }\nif (!baseUrl) {\n  baseUrl = 'http://localhost:5678';\n}\nbaseUrl = baseUrl.replace(/\\/$/, '');\n\nconst executionId = $execution.id;\nconst approveUrl = baseUrl + '/webhook-waiting/' + executionId + '?action=approve';\nconst rejectUrl = baseUrl + '/webhook-waiting/' + executionId + '?action=reject';\n\n// Build the approval message with all matched products\nlet message = '\\u2705 <b>RFP Product Matches Ready for Approval</b>\\n\\n';\nmessage += '<b>Client:</b> ' + clientName + '\\n';\nmessage += '<b>Matched Products:</b> ' + items.length + '\\n\\n';\n\nitems.forEach((item, i) => {\n  const d = item.json;\n  const confPct = (d.confidence * 100).toFixed(1);\n  const src = d.match_source === 'image' ? ' [IMG]' : ' [TXT]';\n  message += '<b>' + (i + 1) + '. ' + d.product_name + '</b> (' + d.brand + ')' + src + '\\n';\n  message += '   RFP: \"' + d.query + '\"\\n';\n  message += '   Confidence: ' + confPct + '% | Qty: ' + d.quantity + '\\n';\n  if (d.location) message += '   Location: ' + d.location + '\\n';\n  if (d.dimensions) message += '   Dims: ' + d.dimensions + '\\n';\n  if (d.source_url) message += '   \\uD83D\\uDD17 <a href=\"' + d.source_url + '\">View Product</a>\\n';\n  message += '\\n';\n});\n\nmessage += '\\n\\u2705 <b>To APPROVE:</b> Open this link in your browser:\\n' + approveUrl + '\\n\\n\\u274C <b>To REJECT:</b> Open this link:\\n' + rejectUrl;\n\nreturn [{\n  json: {\n    message: message,\n    approveUrl: approveUrl,\n    rejectUrl: rejectUrl,\n    itemCount: items.length,\n    clientName: clientName\n  }\n}];"
      },
      "id": "img-approve-0013",
      "name": "Format Approval Request",
      "type": "n8n-nodes-base.code",
      "position": [512, -48],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8571684225:AAGCsQD_9XTbc2A02h0Amt68dLbSXVH8aKQ/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: '1693047697', text: $json.message, parse_mode: 'HTML', disable_web_page_preview: true }) }}",
        "options": {}
      },
      "id": "img-tg-approve-0014",
      "name": "Send Telegram Approval",
      "type": "n8n-nodes-base.httpRequest",
      "position": [768, -48],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "img-wait-0015",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "position": [1024, -48],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// Check if the user approved or rejected\nconst webhookData = $input.first().json;\nconst action = (webhookData.query && webhookData.query.action) || 'reject';\n\nif (action !== 'approve') {\n  // Rejected - return empty array to stop the pipeline\n  // (no items = nothing flows to GPT-4o)\n  return [];\n}\n\n// Approved - retrieve original matched items from Confidence Gate\nconst originalItems = $('Confidence Gate').all();\nreturn originalItems;"
      },
      "id": "img-process-0016",
      "name": "Process Approval Response",
      "type": "n8n-nodes-base.code",
      "position": [1280, -48],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', temperature: 0.3, messages: [{ role: 'system', content: 'You are an RFP response assistant for a furniture company. Given a product match from our database, write a short professional slide description. Return ONLY valid JSON with no markdown formatting.' }, { role: 'user', content: 'RFP Requirement: ' + $json.query + '\\nQuantity needed: ' + $json.quantity + '\\nLocation: ' + ($json.location || 'N/A') + '\\nNotes: ' + ($json.notes || 'N/A') + '\\nImage Analysis: ' + ($json.image_description || 'N/A') + '\\nMatch Source: ' + $json.match_source + '\\n\\nMatched Product: ' + $json.product_name + ' by ' + $json.brand + '\\nMatch Confidence: ' + ($json.confidence * 100).toFixed(1) + '%\\nDescription: ' + $json.product_description + '\\nDimensions: ' + $json.dimensions + '\\nMaterials: ' + $json.materials + '\\nDesigner: ' + $json.designer + '\\n\\nWrite:\\n1. A slide title (short, 5-8 words)\\n2. A 2-3 sentence product recommendation paragraph\\n3. Key specs as bullet points\\n\\nReturn as JSON: {\"slide_title\": \"...\", \"recommendation\": \"...\", \"specs\": [\"...\", \"...\"]}' }] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "img-gpt-0006",
      "name": "Generate Slide Content (GPT-4o)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1536, -48],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI API response and extract slide content\nconst items = [];\nconst allPrev = $('Confidence Gate').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const response = $input.all()[i].json;\n  const content = response.choices?.[0]?.message?.content || '{}';\n  \n  // Clean markdown code fences if present\n  let cleaned = content.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^```(?:json)?\\\\n?/, '').replace(/\\\\n?```$/, '').trim();\n  }\n  \n  let parsed;\n  try {\n    parsed = JSON.parse(cleaned);\n  } catch (e) {\n    parsed = {\n      slide_title: 'Product Recommendation',\n      recommendation: cleaned,\n      specs: []\n    };\n  }\n  \n  // Carry forward the original product data (match by index)\n  const prev = (allPrev[i] || allPrev[0] || {}).json || {};\n  \n  items.push({\n    json: {\n      slide_title: parsed.slide_title || 'Product Recommendation',\n      recommendation: parsed.recommendation || '',\n      specs: parsed.specs || [],\n      product_name: prev.product_name || '',\n      brand: prev.brand || '',\n      image_url: prev.image_url || '',\n      rfp_image_url: prev.rfp_image_url || '',\n      confidence: prev.confidence || 0,\n      quantity: prev.quantity || '',\n      location: prev.location || '',\n      client_name: prev.client_name || 'Client'\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "img-parse-0009",
      "name": "Parse GPT Response",
      "type": "n8n-nodes-base.code",
      "position": [1792, -48],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Collect all parsed GPT slide items into a single array for PPTX generation\nconst items = $input.all();\nconst clientName = items[0]?.json?.client_name || 'Client';\n\nconst slides = items.map(item => ({\n  slide_title: item.json.slide_title || 'Product Recommendation',\n  recommendation: item.json.recommendation || '',\n  specs: item.json.specs || [],\n  product_name: item.json.product_name || '',\n  brand: item.json.brand || '',\n  image_url: item.json.image_url || '',\n  rfp_image_url: item.json.rfp_image_url || '',\n  confidence: item.json.confidence || 0,\n  quantity: item.json.quantity || '',\n  location: item.json.location || ''\n}));\n\nreturn [{\n  json: {\n    clientName: clientName,\n    slides: slides\n  }\n}];"
      },
      "id": "img-collect-0010",
      "name": "Collect Slides Data",
      "type": "n8n-nodes-base.code",
      "position": [2048, -48],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/rfp/generate-pptx",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ clientName: $json.clientName, slides: $json.slides }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "img-pptx-0011",
      "name": "Generate PowerPoint",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2304, -48],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "name": "={{ $('Prepare Image RFP Data').first().json.client_name + ' - RFP Image Match.pptx' }}",
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "img-drive-0012",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [2560, -48],
      "typeVersion": 3,
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Collect all low-confidence or unmatched items into a review summary\nconst items = $input.all();\nconst clientName = items[0]?.json?.client_name || 'Client';\n\nconst lines = items.map(item => {\n  const d = item.json;\n  const confPct = d.confidence ? (d.confidence * 100).toFixed(0) + '%' : '0%';\n  const src = d.match_source === 'image' ? ' [IMG]' : '';\n  let closest = '';\n  if (d.product_name && d.product_name !== 'No match found') {\n    closest = `\\n    Closest: ${d.product_name} (${d.brand}) \\u2014 ${confPct}${src}`;\n    if (d.source_url) {\n      closest += `\\n    \\uD83D\\uDD17 <a href=\\\"${d.source_url}\\\">View Product</a>`;\n    }\n  }\n  return `\\u2022 Line ${d.rfp_line}: \\\"${d.query}\\\" (Qty: ${d.quantity})${closest}`;\n}).join('\\n\\n');\n\nconst imgInfo = items[0]?.json?.images_extracted ? `\\n<b>Images Analyzed:</b> ${items[0].json.images_extracted}` : '';\n\nconst message = `\\u26A0\\uFE0F <b>RFP Image Review Required</b>\\n\\n<b>Client:</b> ${clientName}\\n<b>Items Below Threshold:</b> ${items.length}${imgInfo}\\n\\nThe following items need manual review:\\n\\n${lines}\\n\\nPlease verify and select suitable products.\\n\\n\\u2014 Sent automatically from <b>superCXO</b>`;\n\nreturn [{\n  json: {\n    message: message,\n    count: items.length,\n    client_name: clientName\n  }\n}];"
      },
      "id": "img-review-0007",
      "name": "Flag for Manual Review",
      "type": "n8n-nodes-base.code",
      "position": [512, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8571684225:AAGCsQD_9XTbc2A02h0Amt68dLbSXVH8aKQ/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: '1693047697', text: $json.message, parse_mode: 'HTML', disable_web_page_preview: true }) }}",
        "options": {}
      },
      "id": "img-telegram-0008",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "position": [768, 200],
      "typeVersion": 4.4
    }
  ],
  "connections": {
    "Upload RFP with Images": {
      "main": [
        [
          {
            "node": "Prepare Image RFP Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image RFP Data": {
      "main": [
        [
          {
            "node": "Process Images API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Images API": {
      "main": [
        [
          {
            "node": "Split & Format Image Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split & Format Image Results": {
      "main": [
        [
          {
            "node": "Confidence Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Gate": {
      "main": [
        [
          {
            "node": "Format Approval Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag for Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Approval Request": {
      "main": [
        [
          {
            "node": "Send Telegram Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Approval": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Process Approval Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Approval Response": {
      "main": [
        [
          {
            "node": "Generate Slide Content (GPT-4o)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slide Content (GPT-4o)": {
      "main": [
        [
          {
            "node": "Parse GPT Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GPT Response": {
      "main": [
        [
          {
            "node": "Collect Slides Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Slides Data": {
      "main": [
        [
          {
            "node": "Generate PowerPoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PowerPoint": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag for Manual Review": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
